/* IMPORTANT! WRAPPER-WIDTH must be equal to total width of content! */

/* HAR LYST PÅ:
BEDRE OVERGANG MELLOM HORIZONTAL & VERTICAL SCOLL.....
LYD NÅR MAN SCROLLER FORBI TING!!
SCROLL ANIM GLOBE TOP RIGHT.

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .welcome p will look the same as .welcome h1, but we will only include one instance of h1 in order to have correct semantic tags */
.welcome p {
  font-family: arial;
  font-size: 2em;
  font-weight: bold;
}

.welcome h1 {
  font-family: arial;
  font-size: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 5px 5px yellow;
}

/* Her skal det komme scroll anim. */
.firkant {
  position: fixed;
  width: 200px;
  height: 200px;
  z-index: 1;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* NB: width må være lik summen av øvrige widths.... */
.wrapper {
  display: flex;
  flex-direction: row;
  width: 3200vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

.slide {
  width: 475vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.big {
  height: 100%;
  width: 25vw;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 475vw;
}

.points {
  width: 475vw;
  background: rgb(255, 255, 255);
  height: 20%;
  left: 25vw;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.middle {
  width: 475vw;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.big h2 {
  transform: rotate(90deg);
  white-space: nowrap;
  font-size: 2.5rem;
  font-family: arial;
  border: 5px solid red;
  font-weight: bolder;
}

.points .small {
  width: 50vw;
  border-left: 1px solid black;
}

.small p {
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: bolder;
  font-family: arial;
}

.ticks {
  width: 50vw;
  display: flex;
  flex-direction: row;
}

.tick {
  border-right: 1px solid black;
  width: 10%;
  height: 5px;
}

.one {
  background-image: url("img/timeline/mountain.jpeg");
  background-position: center;
  background-size: cover;
}

.two {
  background-image: url("img/timeline/marsh.jpeg");
  background-position: center;
  background-size: cover;
}

.three {
  background-image: url("img/timeline/horse.jpeg");
  background-position: center;
  background-size: cover;
}

.four {
  background-image: url("img/timeline/maintenontFrance.jpeg");
  background-position: center;
  background-size: cover;
}

.five {
  background: rgb(162, 255, 162);
}

#no-border {
  border: none;
}

.event {
  margin-top: 30vh;
  width: 50vw;
  height: 50vh;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  width: 140px;
  height: 140px;
  font-weight: bold;
  font-family: arial;
  background-position: center;
  background-size: cover;
}

.circle:hover {
  box-shadow: 29px 29px 98px #ffe590, -29px -29px 98px #e4dd7a;
}

.text-container {
  width: 55%;
  height: 55%;
  background: white;
  font-size: 0.5rem;
  padding: 1rem;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s;
}

.text-container h3 {
  font-size: 2em;
  text-decoration: underline;
}

.text-container p {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

.circleBig {
  width: 500px;
  height: 500px;
}

/*

.circle:hover .text-container {
  visibility: visible;
}

.circle:hover::after {
  content: attr(data-hover);
} */

.rect {
  height: 35vh;
  width: 2px;
  background: white;
}

/* STYLING EVENTS
This is done for each specific EVENT according to its ID.
EACH EVENT MUST HAVE AN EVENT-CONTAINER with a INDIVIDUAL ID!

To place an event on the timeline:
- each event starts on the halfway point (eg 950.000)
- move it left or right by increments of 20% to hit a tickmark.
- EX: an event that occurs at 970.000 BCE needs to have margin-right: 40%;
- EX2: an event that occurs at 920.000 BCE needs to have a margin-left: 60%;

To style an event / add image:
- Use #NAME-container .circle { css-stuff } to style.

 */

#fire-container {
  margin-left: 60%;
}

#fire-container .circle {
  background-image: url("img/timeline/fire2.jpg"); /* Image by MarcusObal at Wikimedia Commons, CC BY-SA 3.0 */
}

#flint-container {
  margin-right: 60%;
}

#flint-container .circle {
  background-image: url("img/timeline/flint-tools.jpg"); /* Image by Didier Descouens, CC BY-SA 4.0 */
}

#sapiens-container {
  margin-left: 70%;
}

#sapiens-container .circle {
  background-image: url("img/timeline/sapiens2.jpg"); /* Image by "Mvuijlst" at Wikimedia Commons, CC BY-SA 3.0 */
}

#clothes-container {
  margin-right: 40%;
}

#clothes-container .circle {
  background-image: url("img/timeline/clothes2.jpg"); /* Image by Helen Amirian, CC BY-SA 3.0 */
}

#adornment-container {
  margin-left: 88%;
}

#adornment-container .circle {
  background-image: url("img/timeline/seashells.jpg"); /* Image by Manfred Heyde, Own Work, CC BY-SA 3.0 */
}

#eve-container {
  margin-left: 40%;
}

#eve-container .circle {
  background-image: url("img/timeline/eve.jpeg"); /* Image by ANIRUDH at Unsplash, Free to use under the Unsplash License */
}

#cannibal-container {
  margin-right: 100%;
}

#cannibal-container .circle {
  background: black;
}

#australia-container .circle {
  background-image: url("img/timeline/australia.jpeg"); /* Image by Joey Csunyo, Free to use under the Unsplash License */
}

#cave-container {
  margin-right: 100%;
}

#cave-container .circle {
  background-image: url("img/timeline/cave.jpeg"); /* Image by Don Pinnock, Free to use under the Unsplash License */
}

#volcano-container .circle {
  background-image: url("img/timeline/volcano.jpeg"); /* Image by USGS at Unsplash, Free to use under the Unsplash License */
}

#needle-container {
  margin-right: 100%;
}

#needle-container .circle {
  background-image: url("img/timeline/needle.JPG"); /* Image by Thamizhpparithi Maari, CC BY-SA 3.0 */
}

#ireland-container {
  margin-left: 80%;
}

#ireland-container .circle {
  background-image: url("img/timeline/ireland.jpg"); /* Image by NASA Earth Observatory, Public Domain */
}

#bear-container {
  margin-left: 60%;
}

#bear-container .circle {
  background-image: url("img/timeline/bear.jpg"); /* Image by Sergiodlarosa at Wikipedia, CC BY-SA 3.0 */
}

#sheep-container {
  margin-left: 40%;
}

#sheep-container .circle {
  background-image: url("img/timeline/sheep.jpg"); /* Image by Rudy and Peter Skitterians, CC0 1.0 Public Domain Dedication */
}
/* DETTE ER BARE FOR Å SJEKKE - Andreas */

#jesus-container {
  margin-right: 50%;
  position: absolute;
}

#jesus-container .circle {
  background-image: url("img/timeline/jesus.jpeg");
}

#china-container {
  margin-left: 5%;
}

#china-container .circle {
  background-image: url("img/timeline/china.jpeg");
}

#dog-container {
  position: absolute;
}

#dog-container .circle {
  background-image: url("img/timeline/dog.jpeg");
}

#migration-container {
  margin-left: 15%;
}

#migration-container .circle {
  background-image: url("img/timeline/migration.jpeg");
}

#yamnaya-container {
  margin-left: 40%;
}

#yamnaya-container .circle {
  background-image: url("img/timeline/yamnaya.jpg"); /* Image by EvgenyGenkin at Wikipedia, CC BY 2.5 */
}

#pie-container .circle {
  background-image: url("img/timeline/pie.jpg"); /* Image by Jason Leung, Free to use under the Unsplash License */
}

#cattle-container .circle {
  background-image: url("img/timeline/cattle.jpg"); /* Image by Zeynel Guernsey, CC BY-SA 4.0 */
}

#jiahu-container {
  margin-left: 100%;
}

#jiahu-container .circle {
  background-image: url("img/timeline/jiahu.jpg"); /* Image by Cangminzho at Wikipedia, CC BY-SA 4.0 */
}

#sea-container {
  margin-left: 60%;
}

#sea-container .circle {
  background-image: url("img/timeline/sea.jpg"); /* Image by Jay Mantri, CC 1.0 Public Domain Dedication */
}

#byz-container .circle {
  background-image: url("img/timeline/byz.jpg"); /* Image by Behnam Norouzi, Free to use under the Unsplash License */
}

#writing-container {
  margin-left: 20%;
}

#writing-container .circle {
  background-image: url("img/timeline/writing.jpg"); /*Image by Charles Burton Gulick, Public Domain */
}

#alphabet-container {
  margin-right: 70%;
}

#alphabet-container .circle {
  background-image: url("img/timeline/alphabet.jpg"); /* Image by William Foxwell Albright, Public Domain */
}

#dems-container .circle {
  background-image: url("img/timeline/dems.jpg"); /* Image by Hansjörg Keller, Free to use under the Unsplash License */
}
