/* WIDTH must be equal to total width of content! */

/* HAR LYST PÅ:
SCROLL: landing page; vertical
MAIN: horizontal
MAIN, end: vertical
LYD NÅR MAN SCROLLER FORBI TING!

INTRO:
HEI!
WELCOME!
SCROLL DOWN to CONTINUE

THE HISTORY OF THE WORLD (GOTHIC FONT!)

(according to us!)

(works best on laptop screen!)


*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Her skal det komme scroll anim. */
.firkant {
  position: fixed;
  width: 200px;
  height: 200px;
  border: 2px dashed black;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* NB: width må være lik summen av øvrige widths.... */
.wrapper {
  display: flex;
  flex-direction: row;
  width: 3200vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

.slide {
  width: 400vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.big {
  height: 100%;
  width: 25vw;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.points {
  width: 375vw;
  background: rgb(255, 255, 255);
  height: 20vh;
  margin-top: 80vh;
  left: 25vw;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.big h3 {
  transform: rotate(90deg);
  white-space: nowrap;
  font-size: 2.5rem;
  font-family: arial;
  border: 5px solid red;
  font-weight: bolder;
}

.points .small {
  width: 50vw;
  border-left: 1px solid black;
}

.small p {
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: bolder;
  font-family: arial;
}

.one {
  background: rgb(99, 167, 245);
}

.two {
  background: rgb(255, 149, 181);
}

.three {
  background: yellow;
}

.four {
  background: rgb(168, 143, 96);
}

#no-border {
  border: none;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome h1 {
  font-family: arial;
}

.welcome h2 {
  font-size: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 2px 2px yellow;
}
