* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
  color:#222;
}

/*We implemented 3 different backgrounds to avoid the background becoming too stretched in different aspect ratios. It may look a bit strange how it "snaps" if you keep manually resizing the screen, but it works well for normal use. */

body {
  background-color:white;
  background-image: url('img/background-square.png');
  background-size: 100% 100%;
  background-attachment: fixed;
}

@media (max-aspect-ratio: 3/4) {
  body {
    background-image: url('img/background-tall.png')
  }
}

@media (min-aspect-ratio:4/3) {
  body {
    background-image: url("img/background-wide.png");
  }
}


/*The default style is suitable for small screen */
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55px;
  background-color: #fed500;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #222;
}
nav {
  background-color:inherit;
}


/*The nav links are not displayed by default in the small screen layout. We decided to set the position to absolute as it felt unnatural to shift the rest of the content when the menu was opened.*/
.nav-links {
  display: none;
  position: absolute;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #222;
  right: 0px;
  width: 100%;
}

/*The nav links become visible when the "burger-menu" is clicked*/
.nav-links.active {
  display: flex;
}

/*Styling of the nav-bar list and the items in that list*/
.nav-container {
  width: 100%;
  padding-right: 10px;
  background-color: #fed500;
  padding-bottom: 6px;
}

.nav-item {
  list-style: none;
  text-align: end;
  padding-top: 0.5rem;
}

.nav-item a {
  text-decoration: none;
  color: #222;
  padding: 0.35rem;
  font-size: 1.2rem;
}

/*Styles the menu item the user is currently visiting*/
#current-page {
  list-style: inside url("img/arrow-16px.png");
  font-weight: bold;
}
/*Styling of the size and position of the burger menu icon */
.burger-menu {
  position: absolute;
  top: 12px;
  right: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 30px;
  height: 22px;
}

/*Styling of the actual lines in the burger menu icon */
.burger-menu .bar {
  height: 4px;
  width: 100%;
  background-color: #222;
  border-radius: 9px;
}

/*For wider screens, the burger menu is replaced with a static, horizontal menu.*/
@media (min-width:841px) {
  .burger-menu {
    display: none;
  }
  
  .nav-links {
    display: flex;
    position: static;
  }
  .nav-container {
    display: flex;
    justify-content: space-around;
    padding-right: 0;
  }
  .nav-item {
    width: 20%;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  #current-page {
    list-style: none;
    text-decoration: underline;
  }

}


/*Main content*/

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fed500;
  margin: auto;
  padding: 2rem 0rem;

}
h2 {
  text-align: center;
  margin: 0.8rem 0;
}
h3 {
  text-align: center;
  margin: 0.5rem 0;
}
.item p {
  line-height: 1.4;
  padding: 0.5rem;
  text-indent: 30px;
}
.italic {
  font-style:italic;
}

.grid { 
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}

.item {
  width: 350px;
}
.item li {
  list-style:inside;
  padding:0.3rem;
}

.image {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin:1rem 0;
}

@media (min-width: 620px) and (max-width:840px) {
  article {
    width: 600px;
    margin-top: 2rem;
    margin-bottom:2rem;
    box-shadow: 0 0 20px #000000;
  }
}

/*At this screen size, the layout changes to fit two smaller boxes next to each other horizontally, and the big content container becomes wide.*/
@media (min-width: 841px) {
  article {
    min-width: 840px;
    width: 80%;
    max-width: 960px;
    margin-top: 2rem;
    margin-bottom:2rem;
    box-shadow: 0 0 20px #000000;
  }
  .grid {
    grid-auto-flow: column;
  }
  .big-item {
    width: 700px;
  }
}