* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial;
  }

body {

    /*Todo: Legge til media queries med forskjellige versjoner av et bakgrunnsbilde, for å hindre for mye "stretch". min-device-aspect-ratio i kombinasjon med width */
    background-image: url('img/test.jpg');
    background-size:100% 100%;
    background-attachment:fixed;
}

@media screen and (max-width: 4000px) { /*Endre verdien her til noe passende - satt den til 4000 for å slippe å jobbe med lite vindu under testing  Mulig vi restrukturerer, slik at dette er "default", og det kun gjøres tilpasninger for stor skjerm*/
    header {
        text-align:center;
        color:yellow;
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:46px;
        background-color:grey;
    }

    /*The nav links are not displayed by default in the small screen layout*/
    .nav-links {
        display: none;
    }

    /*The nav links become visible when the "burger-menu" is clicked*/
    .nav-links.active {
        display: flex;
    }

    /*Styling of the nav-bar list and the items in that list*/
    .nav-container {
        width: 100%;
        padding-right:10px;
        background-color:grey;
        padding-bottom:6px;
    }
    
    .nav-item {
        list-style:none;
        text-align:end;
        padding-top:0.5rem;

    }
    
    .nav-item a {
        text-decoration:none;
        color: yellow;
        padding: 0.35rem;
        font-size:1.2rem;
    }

    /*Styles the menu item the user is currently visiting*/
    #current-page {
        list-style:inside url('img/arrow-16px.png');
        font-weight:bold;
    }
    /*Styling of the size and position of the burger menu icon */
    .burger-menu {
        position: absolute;
        top:12px;
        right:15px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        width: 30px;
        height: 22px;
    }
    /*Styling of the actual lines in the burger menu icon */
    .burger-menu .bar {
        height: 4px;
        width: 100%;
        background-color:yellow;
        border-radius: 9px;
    }

}